* {
    color: #4A4A4A
}

.row {
  /* background-color: #ffffff89; */
  padding: 10px;
  border-radius: 10px;
  /* margin: 10px; */
  border: 1px solid black;
}

.btn {
  background: linear-gradient(to bottom, #2c3e50, #34495e);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: linear-gradient(to bottom, #233140, #2c3e50);
}

.search-box {
  display: flex;
  align-items: center;
  margin: 30px;
}

.search-box label {
  margin-right: 10px;
  font-weight: bold;
}

.search-box input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  color: #333;
  margin: 2.5px;
}

/* Default styles for placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 10px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 10px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 10px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 10px;
  }
}
