.error {
  color: red;
}

.fullname.ng-invalid.ng-touched {
  border: 1px solid red;
}

.Email.ng-invalid.ng-touched {
  border: 1px solid red;
}

.Password.ng-invalid.ng-touched {
  border: 1px solid red;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to bottom right, #43c6ac, #191654);
}

.card-body {
  padding: 2rem;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

.form-control {
  border-radius: 1rem;
}

.error {
  color: #dc3545;
}

.btn {
  border-radius: 0.5rem;
}

.btn-success {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);
}
