.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-box {
  background: linear-gradient(to bottom right, #ffffff, #f8f8f8);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.feature-col {
  display: flex;
  flex-direction: column;
}

.feature-col p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e3e3e3;
}
